 body {
  background-color: black;
  margin: 0;
}

#grid {
  background-color: teal;
  overflow: scroll;
}

#grid td {
  background-color: lightgrey;
  border-radius: 8px;
  max-width: 50px;
  min-width: 50px;
  max-height: 50px;
  min-height: 50px;
}

#grid td.input {
  background-color: lightskyblue;
}

#grid td.output {
  background-color: lightgreen;
}

#grid td.focus {
  background-color: lightcoral;
}

#grid td #title {
  font-size: 10px;
  max-width: 90%;
  margin: 0 auto;
}

#grid td img {
  margin: 0 auto;
}

#grid #ttlWin {
  background-color: lightblue;
  border-radius: 8px;
}
